
*{
    padding: 0;
    margin: 0;
}
header{
    position: absolute;
    width: 100%;
}
.container{
    max-width: 1113px; margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.w-100{
    display: block;
}
.main_banner{
    background-image: url('../img/background.png');
    background-size: cover;
    height: 100vh;
    padding-top: 170px;
    padding-bottom: 170px;
}
header nav li{
    margin: 0 10px;
}
header nav a, header ul a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
header nav ul{
        display: flex;
    justify-content: space-between;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

    }

.logo{
    display: inline-block;
    margin-left: -50px;
}
header nav li a:hover {
    transform: rotate(360deg);
    color: red;
    transition: 0.3s;
    display: inline-block;
}
.callback li{
    display: inline-block;
    margin: 30px;
    justify-content: space-between;
    color: #FFFFFF;
    text-decoration: none;

}
.new_one{
    background-color: #4C6071;
    background-image: url('../img/MaskGroup.png');
    background-size: cover;
    height: 100vh;
    padding-top: 170px;
    padding-bottom: 170px;

}
.new_one h3{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 260px;

}
.video_list{
    display: flex;
    justify-content: space-between;
    padding: 178px 50px;
    align-items: center;
    position: relative;

}
.video_list h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.video_list p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 253px;
}
.vid_1 a img{
    position: absolute;
    left: 150px;
    top: 260px;
}
.vid_2 a img{
    position: absolute;
    left: 480px;
    top: 260px;
}
.vid_3 a img {
    position: absolute;
    left: 840px;
    top: 260px;
}
.vid_4 a img {
    position: absolute;
    left: 1240px;
    top: 260px;
}