
*{
    padding: 0;
    margin: 0;
}
header{
    position: absolute;
    width: 100%;
}
.container{
    max-width: 1113px; margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.w-100{
    display: block;
}
.main_banner{
    background-image: url('../img/background.png');
    background-size: cover;
    height: 100vh;
    padding-top: 170px;
    padding-bottom: 170px;
}
header nav li{
    margin: 0 10px;
}
header nav a, header ul a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
header nav ul{
        display: flex;
    justify-content: space-between;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

    }

.logo{
    display: inline-block;
    margin-left: -50px;
}
header nav li a:hover {
    transform: rotate(360deg);
    color: red;
    transition: 0.3s;
    display: inline-block;
}
.callback li{
    display: inline-block;
    margin: 30px;
    justify-content: space-between;
    color: #FFFFFF;
    text-decoration: none;

}
.new_one{
    background-color: #4C6071;
    background-image: url('../img/MaskGroup.png');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

}
.new_one h3{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 920px;
    margin: auto;
    margin-bottom: 50px;

}
.video_list{
    display: flex;
    justify-content: space-between;
    max-width: 1113px;
    margin: auto;
    position: relative;

}
.video_list h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.video_list p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 253px;
}

.video_list image {
    position: relative;
    display: block;
    width: 100%;
}
.video_list  a {
    position: absolute;
    top: 88px;
    left: 96px;
}
.vid{
    position: relative;
}
.owl-item{
    text-align: center;
}
.owl-stage{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.owl-nav{
    display: flex;
    justify-content: space-between;

    width: 100%;

}
/*
.carousel{
    background-color: #FFFFFF;
    padding-bottom: 177px;
}
.carousel img{
    width: 100%;
    display: block;
    margin-bottom: 100px;
}
.carousel .container{
    max-width: 1113px;
    margin: auto;
    display: flex;
    justify-content: space-between

}
.carousel h1{
    font-family: 'Gothic A1',sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.carousel .item1 img{
    display: block;
    width: 100%;

}
.carousel .item2 img {
    display: block;
    width: 100%;
}
.carousel h4{

}*/
