
*{
    padding: 0;
    margin: 0;
}
header{
    position: absolute;
    width: 100%;
}
.container{
    max-width: 1113px; margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.w-100{
    display: block;
}
.main_banner{
    background-image: url('../img/background.png');
    background-size: cover;
    height: 100vh;
    padding-top: 170px;
    padding-bottom: 170px;
}
header nav li{
    margin: 0 10px;
}
header nav a, header ul a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
header nav ul{
        display: flex;
    justify-content: space-between;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.logo{
    display: inline-block;
    margin-left: -50px;
}
header nav li a:hover {
    transform: rotate(360deg);
    color: red;
    transition: 0.3s;
    display: inline-block;
}
.callback li{
    display: inline-block;
    margin: 30px;
    justify-content: space-between;
    color: #FFFFFF;
    text-decoration: none;

}
.new_one{
    background-color: #4C6071;
    background-image: url('../img/MaskGroup.png');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

}
.arrow{
    display: flex;
}
.new_one h3{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 920px;
    margin: auto;
    margin-bottom: 50px;

}

.video_list{
    display: flex;
    justify-content: space-between;
    max-width: 1113px;
    margin: auto;
    position: relative;

}
.video_list h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.video_list p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 253px;
}

.video_list image {
    position: relative;
    display: block;
    width: 100%;
}
.video_list  a {
    position: absolute;
    top: 88px;
    left: 96px;
}
.vid{
    
    display: inline-block;
    text-align: left;

}
.owl-item{
    text-align: center;
}
.owl-stage{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.owl-nav{
    display: inline-block;
    justify-content: space-between;
    position: absolute;
    top:-85px;
    left: 950px;
    width: 100%;
}
.owl-nav .owl-prev:before{
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    content: "\f053";
    color: #FFFFFF;
    font-size: 30px;
    
}
.owl-nav .owl-next:before {
    font-family: "Font Awesome 6 Free",sans-serif;
    font-weight: 900;
    content: "\f054";
    color: #FFFFFF;
    font-size: 30px;
}
/*Рассчитайте ориентировочную стоимость. Страница 5 */

.planned_cost {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bgc_white {
    background: #FFFFFF;
    border-radius: 20px;
}

.bgc_white:first-of-type {
    margin-bottom: 10px;
}

.bgc_white h3 {
    padding: 30px;

}
.ui-accordion .ui-accordion-header {
    padding: 30px;
    box-sizing: border-box;
    border: none;
    font-family: "Gothic A1",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
}
.ui-icon{
    display: none;
}
.container_2 {
    padding: 30px;
    margin-bottom: 30px;
}

.container_2 h3 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.bgc_form_white {
    background: #FFFFFF;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 23px 20px 20px;
    margin-bottom: 10px;
    margin-right: 30px;

}

.bgc_form_white label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bgc_1 {
    background: #4C6071;
    border-radius: 30px;
    padding: 30px 50px 30px 30px;
}

.layout img {
    display: block;
    max-width: 610px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.layout a {
    padding: 20px 116px;
    color: white;
    background-color: #8F8F8F;
    border-radius: 10px;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    margin-right: 30px;
}

.planned_cost button {
    padding: 20px 116px;
    border: none;
}
.button_style {
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 150%;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border: none;
    transition: 0.5s;


}

.button_style:active {
    background: linear-gradient(90deg, #6488D4 0%, #193F50 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.why_we, .planned_cost, .video_reviews {

    background-image: url("../img/bg_balloons_full.svg");
    background-color: #4C6071;
    background-size: cover;
    width: 100%;

}